/*
Author: Toluwanimi Sola-Adeyemi
Date: 17/August/2021
Program:  External StyleSheet for EkoTransit home page
*/

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@font-face{font-family:font1;src:url("merriweather-black-webfont.woff")format("woff")}
@font-face{font-family:font2;src:url("merriweather-light-webfont.woff")format("woff")}
@font-face{font-family:font3;src:url("firesans-regular-webfont.woff")format("woff")}
@font-face{font-family:font4;src:url("firesans-light-webfont.woff")format("woff")}

p{font-family:futura}
.parent{position:absolute;}
.overlay{
	background-color:rgba(255,255,255,0.4) !important;
	background-size:cover}
.blue{height:10px}
.bus{position:relative;margin:auto;bottom:10px}
#bus{box-shadow:10px 10px 10px #484C6B;}
.message{margin:auto;}
.banner{
	position:relative;
    top:20px;
	height:100px;
	font-family:'Rampart One', cursive;
	font-size:50px;
	}
.blue{height:100px;
	}
.hello{height:250px;position:relative;}
.formelement{width:35%;margin:auto;}
.footer{
	text-align:center;
	height:100px;
	line-height:100px;
	}